//requirements

// we are the company that handels a book publications 


// Book

// ISBN, Title , author[], language, publish date, number of pages, category[]
// Authors
//Name, Id , Books[]

//Publications
//Name, Id, Books[]


// Requirements


//-------------------------------------------------------------------------------------------------------------------------
//Books

// We need an api 
//Get
// to get all the books //Done
// to get specific books  // Done
// to get a list of books based on category  //Done
// to get a list of books based on author    //task


//POST
// New Book  //Done


//PUT
//Update book details  //Done
//Update/add new Author  //Done


//DELETE
//Delete a book
// delete a author from a book



//-------------------------------------------------------------------------------------------------------------------------
// Author

// we need an api    
//Get   
// to get all author    //Done
// to get specific author   //task
// to get a list of authors based on the books  //Done

//POST
// New author //Done

//PUT
// Author details


//DELETE
// delete an author


//-------------------------------------------------------------------------------------------------------------------------
// Publications

// we need an api 
//Get
// to get all Publications  //Done
// to get specific Publications  //task
// to get a list of Publications based on the books  //task

//POST
//Add new publications //Done


//PUT
//update publication details
//Update/add new book to a publication


//DELETE
// delete a book from publication
//Delete a publication